@charset 'utf-8';



.skill_list>li{
  width:100%;
}
.progress{
  width:80%;
  height:15px;
  background-color:white;
  position: relative;
}
.skill_list>li:nth-child(4)>.img_box>img{width:110%;}
.skill_list>li:nth-child(5)>.img_box>img,.skill_list>li:nth-child(6)>.img_box>img,
.skill_list>li:nth-child(3)>.img_box>img{width:85%;}
.progress>span{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  color:white;
  font-weight:bold;
}
.skill_list>li .progress::before{
  content:'';
  display:block;
  width:0;
  height:100%;
  background-color:black;
  transition:0.3s;
}
.skill_list>li:nth-child(1):hover .progress::before{
  width:80%;
}
.skill_list>li:nth-child(2):hover .progress::before{
  width:70%;
}
.skill_list>li:nth-child(3):hover .progress::before{
  width:60%;
}
.skill_list>li:nth-child(4):hover .progress::before{
  width:70%;
}
.skill_list>li:nth-child(5):hover .progress::before,
.skill_list>li:nth-child(6):hover .progress::before{
  width:80%;
}

.skill_list>li:hover::after{
  content:'';
  display:block;
  width:0;
  height:0;
}








/* 테블릿 스타일 */
@media (max-width:960px){
}






/* 모바일 스타일 */
@media (max-width:767px){
  .progress{
    width:30%;
    /* max-width:200px; */
  }
}